:root {
    --fondo: #17191a;
    --color: #ffffff;
    --overlay-color: #03a9f4;
}

.mi-clase {
    color: var(--fondo);
    color: var(--color);

}

@media (prefers-color-scheme: dark) {
    :root {
        --fondo: #17191a;
        --color: #fff;
    }
}


@media (prefers-color-scheme: light) {
    :root {
        --fondo: #fff;
        --color: #17191a;
    }
}



.mi-clase {
    background: var(--fondo);
    color: var(--color)
}

/* ----------------------------------------------------------------------- */
.loader_bg {
    position: fixed;
    z-index: 999999;
    background: var(--fondo);
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
    content: '';
    border: 1em #ff5733;
    border-style: solid;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 1s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* ----------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}

.logo{
    font-size: 2em;
}

.navbar-collapse{
   margin-left: 5rem;
   color: var(--color);
   
}












@media(max-width: 798px) {

    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}